<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title>CoderJin的个人博客</title>
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="keywords" content="javascript,php,css3,blog,hip-hop,coder,前端，全栈">
    <meta name="description" content="CoderJin,一个爱hip-hop的全栈工程师">
    <link rel="stylesheet" href="./Public/Home/CSS/normalize.min.css">
    <link rel="stylesheet" href="./Public/Home/CSS/index.css">
    <link rel="stylesheet" href="./Public/Home/CSS/icon/iconfont.css">
</head>
<body>
<div>
    <div id="menu"><a id="toggle" href="#"><i class="iconfont icon-navlist"></i></a>
        <ul id="nav-ul">
            <li><a href="#introduction">个人简介</a></li>
            <li><a href="#application">博文</a></li>
            <li><a href="#request">笔记</a></li>
            <li><a href="#context">足迹</a></li>
        </ul>
    </div>
    <canvas></canvas>
    <div id="title">
        <div id="logo">CoderJin</div>
        <div id="tagline">断，舍，离</div>
    </div>
</div>
<script src="./Public/Home/JS/index.js"></script>
</body>
</html>
